@forward './variables';
@forward './mixins';
@forward './animations';

@use './variables' as *;
@use './mixins' as *;
@use './animations' as *;

@include font-entry("Lora", "en/Lora");
@include font-entry("Burma Thin", "mm/BurmaThin");
@include font-entry("Gowun Dodum", "kr/GowunDodum");

:root {
  --font-en: #{$font-en};
  --font-mm: #{$font-mm};
  --font-kr: #{$font-kr};
  --primary-font: #{$primary-font};
  --secondary-font: #{$secondary-font};
  --primary-color: #{$primary-color};
  --primary-rgb: 0, 114, 255;
  --secondary-color: #{$secondary-color};
  --secondary-rgb: 255, 20, 147;
  --v1-color: #{$v1-color};
  --v2-color: #{$v2-color};
  --v3-color: #{$v3-color};
  --v4-color: #{$v4-color};
  --glass-bg: rgba(255, 255, 255, 0.4);
  --transition: #{$transition};
  --spacing-xs: #{$spacing-xs};
  --spacing-sm: #{$spacing-sm};
  --spacing-md: #{$spacing-md};
  --spacing-lg: #{$spacing-lg};
  --spacing-xl: #{$spacing-xl};
  --spacing-xxl: #{$spacing-xxl};

  --bg-color: #{$bg-light};
  --bg-rgb: 249, 252, 255;
  --text-color: #{$text-dark};
  --card-bg: rgba(0, 0, 0, 0.05);
  --modal-bg: rgba(255, 255, 255, 0.85);

  --bg-theme-mode: rgba(255, 255, 255, 0.6);
  --btn-theme-mode: rgba(0, 0, 0, 0.05);
  --dropdown-theme-mode: rgba(255, 255, 255, 0.95);

  --border-color: rgba(0, 0, 0, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.1);
  --scroll-color: rgb(201, 203, 206);
}

body.dark-theme {
  --bg-color: #{$bg-dark};
  --bg-rgb: 15, 23, 42;
  --text-color: #{$text-light};
  --card-bg: rgba(255, 255, 255, 0.05);
  --modal-bg: rgba(0, 0, 0, 0.85);

  --bg-theme-mode: rgba(20, 20, 40, 0.6);
  --btn-theme-mode: rgba(255, 255, 255, 0.05);
  --dropdown-theme-mode: rgba(15, 15, 30, 0.95);

  --border-color: rgba(255, 255, 255, 0.1);
  --shadow-color: rgba(0, 0, 0, 0.3);
  --scroll-color: rgb(38, 45, 60);
}

body.font-en { --app-font: #{$font-en}; --sidebar-title-padding: 0; --home-rank-padding: 0 0 1rem 0;}
body.font-mm { --app-font: #{$font-mm}; --sidebar-title-padding: 0.3rem 0 0 0; --home-rank-padding: 0 0 1rem 0;}
body.font-kr { --app-font: #{$font-kr}; --sidebar-title-padding: 0; --home-rank-padding: 0 0 1rem 0;}
